{% extends "base.html" %}
{% block title %}Change Password{% endblock %}
{% block extrahead %}
{% endblock %}
{% block content %}
{% if pwd_changed %}
<h1> Congratulations. Your Password has been updated</h1>
<br>
<h1> Click here to return back to Settings</h1>
<h1><a href="{% url 'users:user_settings' %}">User Settings</a></h1>
<h1><a href="{% url 'homepage' %}">Go to homepage</a></h1>
<br>
{% else %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">

                <form class="form-horizontal" method="post" action="{% url 'users:UpdatePassword' %}">
                   {% csrf_token %}
                   <fieldset>
                    <legend class="text-center header"> Update {{user.username}}&#39;s  Password</legend>
                    {% for err in form.non_field_errors %}
                    <div class="form_error_message">{{ err }}</div>
                    {% endfor %}
                    {% for field in form %}
                    <div class="form-group">
                        <span class="col-md-1 col-md-offset-2 text-center"></span>
                        <div class="col-md-8">
                            {{ field.label }}
                            {{ field }} 
                            {% for err in field.errors %}
                            {{ err }}
                            {% endfor %}
                        </div>
                    </div>
                    
                    {% endfor %}
                 
                <div class="form-group">
                    <div class="col-md-12 text-center">
                        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
</div>
</div>
{% endif %}

{% endblock %}